.card-props > table {
	border-spacing: 0;
	width: 100%;
	>th {
		width: 30%;
	}
	>td,
	th {
		text-align: left;
		padding: 10px;
		white-space: nowrap;
	}
	tbody>tr:nth-of-type(2n) {
		background-color: #f3f3f3;
	}
}