.form {
  position: relative;
}

.form-fields {
  @extend .list;
}

.form-field {
  margin: 6px 0;
  font-weight: 700;
  >label {
    font-size: 12px;    
    padding: 4px 0;
    display: block;
  }
  >input {
    font-size: 12px;
    padding: 6px 4px;
    width: 100%;
    box-sizing: border-box;    
  }
  >select {
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;    
  }
}

.form-footer {
  margin-top: 12px;
  text-align: left;
  >button {
    font-weight: 600;
    padding: 8px 20px;
    color: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;            
    background-color: tomato;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: rgba(255,99,71,0.8);
    }
  }  
}

.form-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
}

.faded {
  opacity: 0;
}