.formfields {
	@extend .list;
	.formfield {
		margin: 6px 0;
		font-size: 12px;
		font-weight: 700;
		label {
			padding: 4px 0;
			display: block;
		}
		input {
			padding: 6px 4px;
			font-size: 12px;
			width: 100%;
			box-sizing: border-box;
		}
    select {
      font-size: 12px;
      width: 100%;
      box-sizing: border-box;
    }
	}
}