/*
$overlay-color: rgba(255, 255, 255, .3);
$overlay-mass-color: rgba(255, 255, 255, .1);
$text-color: rgba(0, 0, 0, 0.8);
$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
*/
/**/
.list, .h-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.h-list > li {
  display: inline-block;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.card-header {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  margin: -12px -12px 0 -12px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  color: #333;
  line-height: 40px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.card {
  margin: 20px 10px;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: 0 0 0 1px transparent, 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 100px rgba(0, 0, 0, 0.2) inset;
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-image: -webkit-linear-gradient(top left, #474BB7 0%, #bb167D 40%, #3B6CB7 90%, #3F39EF 100%);
  /*background: linear-gradient(60deg, #15b6e6 0%, #43ac91 60%, #15b6e6 100%);*/
}

text {
  fill: rgba(255, 255, 255, 0.8) !important;
  opacity: 0.8 !important;
}

.tick line,
.nv-interactiveGuideLine {
  opacity: .3 !important;
}

.nv-interactiveGuideLine {
  opacity: .3 !important;
}

/*
body {
	background-size: 300% 300%;
	animation: bganimation 16s ease infinite;
}
@keyframes bganimation {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
*/
